.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.hero {
  grid-column-start: 1;
  grid-column-end: 5;
  padding: 16px;
}

.results {
  grid-column-start: 1;
  grid-column-end: 5;
  padding: 16px;
}

.results .results__result {
  display: flex;
  border-bottom: 1px solid grey;
  padding-bottom: 8px;
  margin-bottom: 8px;
}

.button {
  width: 100%;
  background: #61dafb;
  border-radius: 4px;
  padding: 15px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: white;
  font-weight: bold;
}

.button:hover, .button:active {
  background: #54bedb
}

.fileUploaderContainer {
  overflow: hidden;
  display: block;
  position: relative;
  color: #777777;
  padding: 20px;
  margin-bottom: 8px;
  border: 3px dashed #777777;
  border-radius: 8px;
}

.fileUploaderContainer [type=file] {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  min-height: 100%;
  min-width: 100%;
  font-size: 999px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  cursor: pointer;
}
